﻿.page-header 
{
    background-color:#0769AD;    
}

.page-header-logo
{
    background-image: url('../ECMToolbox/Images/ECMToolboxIconLg-liteacoss.png');
}
.page-header-content
{
    left:300px;
}
.welcome-message-text{
    color:white;
}

.sidebarBG
{
    background-color:#263238;
}
.sidebar-top-level
{
    color:white;
    border-bottom-color:#3A4B54
}
.sidebar-top-level.active
{
    color:white;
}
.sidebar-secondary-level
{
    color:#333333;
    background-color:white;
}

.k-grid-header-wrap>table>thead>tr>th,.k-grid-header-wrap>table>thead>tr>th>a
{    
    color:white !important;
    background-color:#7DB8E0 !important;
    border-color:white !important;
}

.k-grid-filter>.k-icon
{
    color:white;
}
.k-grid-filter.k-state-active>.k-icon,.grid-filter-active
{
    background-color: #3A729E !important;
}
.grid-filter-changing {
    color:#F7E571 !important;
}

.ecmlink{
    color:#888888;
}
.ecmlink:hover
{
    color:#3FACDB;
}

.menu-workflow
{
    color:#3E8AC4;
}
.menu-queue
{
    color:#666666;
}
.menu-queue-itemcounter
{
    color:white;
    background-color:#41537F;
}
.menu-queue > tbody > tr:hover 
{
    cursor: pointer;
}

body
{
    background-color:#F5F5F5;
}

.text-white
{
    color:white;
}
.text-black
{
    color:black;
}
.text-dark
{
    color:#666666;
}
.text-primary
{
    color:#3FACDB;
}
.btn-primary 
{
    background-color:#3FACDB;
}
.text-default 
{
    color:#999999;
}
.btn-default
{
    background-color:#999999;
}
.text-info
{
    color:#3E999B;
}
.btn-info
{
    background-color:#3E999B;
}
.text-success
{
    color:#549956;
}
.btn-success
{
    background-color:#549956;
}
.text-warning
{
    color:#ffb752;
}
.btn-warning
{
    background-color:#ffb752;
}
.text-danger
{
    color:#CE614E;
}
.btn-danger
{
    background-color:#CE614E;
}

.btn:hover
{    
    background-color:#72BBDB;
}

.control-label
{    
    color:#7F7F7F;
}

.control, .k-picker-wrap
{
    color: #333333;
    border-color:#D3D3D3 !important;
}

.control:hover
{
    border-color:#B3E5FC;    
}

.control:focus
{
    border-color:#AAAAAA;
}

.control.error
{
    border-color:#E8A4A4;
    background-color:#FFE5E5;
}

.selected, [selected], .nav-tabs li.active a, .k-state-selected>td, .k-state-selected>td>i 
{
    color:white !important;
    background-color:#3FACDB !important;
}

.breadcrumb
{
    background-color:white;
    border-color:#DDDDDD;
}

.breadcrumb li a
{
    color:#6CABC1;
}

.panel-heading, .ecmwindow>:first-child
{
    color:white;
    background-color: #3E8AC4;
}

.notification-success
{
    color:#555555;
    background-color:#C6E0B3;
}

.notification-info
{
    color:#555555;
    background-color:#DDDAA8;
}

.notification-failure
{
    color:#555555;
    background-color:#E0BFBC;
}