﻿
.ecmt_vg_container{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
.ecmt_vg_tablearea{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:15px;
    overflow-x:scroll;
    overflow-y:hidden;
}
.ecmt_vg_gridtable>thead>tr>th{
    position:relative;    
    white-space:nowrap !important;
    cursor:default;
    padding-top:0px;
    margin-top:0px;
    padding-bottom:2px;
    margin-bottom:0px;
    padding-left:5px;
    padding-top:3px;
    height:20px;
    vertical-align:middle;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-size:16px;
    font-stretch:normal;
    font-style:normal;
    font-weight:400;
    line-height:18px;

    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}
.ecmt_vg_gridtable>tbody>tr>td{    
    overflow:hidden !important;
    white-space:nowrap !important;
    text-overflow: ellipsis;
    border:1px solid #bbbbbb !important;   
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    font-stretch:normal;
    font-style:normal;
    font-weight:400;
    padding-left:7px;
    padding-right:7px;
    padding-top:0px !important;
    padding-bottom:0px !important;
    margin:0px !important;
    cursor:pointer;
    height:32px !important;
    max-height:32px !important;
    min-height:32px !important;
    min-width:10px;
    max-width:10px;

    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
    -khtml-user-select: none;
}
.ecmt_vg_gridtable {    
    table-layout:fixed;    
    border-collapse: collapse;
    border-color: #eeeeee;
    border-width:1px;
    min-width:100%;
}

.ecmt_vg_gridheadertext{
    width:auto !important;
    height:20px;
    overflow:hidden;
}
.ecmt_vg_gridheaderfiltericon {    
    width:22px !important;
    height:20px !important;
    float:right !important;
    padding-top:3px;
    text-align:center;
    margin-right:4px;
}

.ecmt_vg_gridheaderresize{
    display:block;
    position:absolute;    
    width:10px !important;
    top:0px;
    height:37px;
    margin-left:-5px;
    left:100%;
    cursor:col-resize;
    float:none;
    z-index:6;
}
.ecmt_vg_gridheaderresize:hover, .ecmt_vg_gridheaderresize_dragging {
    background-color:#000000;
    opacity: .3;
}

.ecmt_vg_gridsort{
    float:right !important;
}
.ecmt_vg_gridsort.fa-long-arrow-up, .ecmt_vg_gridsort.fa-long-arrow-down {
    padding-left:5px;
    padding-right:2px;
}

.ecmt_vg_scroll_full {
    position:absolute;
    top:38px;
    bottom:16px;
    width:15px;
    right:0px;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.ecmt_vg_scroll_step_up {
    position:absolute;
    top:0px;
    height:22px;
    width:100%;
    color:#606060;
    background-color:#F0F0F0;
    font-family: FontAwesome;
    padding-left:1px;
    padding-top:1px;
    border-bottom:1px solid #F0F0F0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.ecmt_vg_scroll_step_up:hover {    
    background-color:#aaaaaa;
    color:white;
}
.ecmt_vg_scroll_step_up:before {
    content: "\f077";
}
.ecmt_vg_scroll_step_down {
    position:absolute;    
    width:100%;
    height:22px;
    bottom:0px;
    border-bottom:1px solid white;
    color:#606060;
    background-color:#F0F0F0;
    font-family: FontAwesome;   
    padding-left:1px;
    padding-top:0px;
    border-top:1px solid #F0F0F0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.ecmt_vg_scroll_step_down:hover {    
    background-color:#aaaaaa;
    color:white;
}
.ecmt_vg_scroll_step_down:before {    
    content: "\f078";
}
.ecmt_vg_scroll_slide_area {
    position:absolute;
    width:100%;
    top:22px;
    bottom:22px;
    background-color:#F0F0F0;
}
.ecmt_vg_scroll_slider {
    position:absolute;
    background-color:#CDCDCD;
    top:0px;
    width:100%;
    height:50px;
    /*border-radius:6px;*/
    /*border:1px solid #cccccc;*/
}

.ItemCounterTag {
    position:absolute;
    right:30px;
    top:0px;
    bottom:0px;
    margin-top:auto;
    margin-bottom:auto;
    padding:5px;
    height:30px;
    border:1px solid #aaaaaa;
    border-radius:7px;
    width:170px;
    text-align:center;
    z-index:99999;
    background-color:whitesmoke;
}


input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + span:before 
{
    display:inline-block;
    padding-top:8px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    font-size:16px;
    height:13px !important; 
    line-height:13px !important;
    font-weight:400;
}
input[type=checkbox]:checked + span:before { content: "\f046"; } /* checked icon */

.ecmt_vg_gridtable>tbody>tr.k-state-selected>th>input[type=checkbox]:checked + label:before { content: "\f046" !important; height:13px !important; line-height:13px !important; color:white !important; font-weight:400 !important; }
.ecmt_vg_gridtable>tbody>tr>td>input[type=checkbox] + label:before {                          content: "\f096" !important; height:13px !important; line-height:13px !important; font-weight:400 !important; }
.ecmt_vg_gridtable>tbody>tr.k-state-selected>td>input[type=checkbox]:checked + label:before { content: "\f046" !important; height:13px !important; line-height:13px !important; color:white !important; font-weight:400 !important; }

.grid-reorder-hint {
    position:absolute;
    z-index:9999;
}

.grid-reorder-line {
    position:absolute;
    width:2px;
    border:1px solid #E89251;
    top:2px;
    z-index:9998;
}



/****** FILTERS ******/
.ecmt_vg_filter {
    display:none;
    position:absolute;
    background-color:whitesmoke;
    border: 2px solid #bbbbbb;
    z-index:9999;
    padding:10px;
    width:auto;
    height:auto;
}

.ecmt_vg_div_filter_body {

}

.ecmt_vg_div_buttons {
    text-align:center;
    padding-top:5px;
}

.ecmt_vg_btn_filter {
    width:120px;
}

.ecmt_vg_btn_clear {
    width:120px;
}

.ecmt_vg_filter_capture{
    position:absolute;
    width:100%;
    height:100%;
    background-color:transparent;
    z-index:9998;
}