﻿
<template fieldType="number">
    <div class="ecmt_vg_filter">
        <div class="ecmt_vg_div_filter_body">
            <input type="text" class="control" style="width:150px !important; margin-top:2px !important;margin-bottom:0px !important;" />
            <select class="control" style="width:120px !important; margin-bottom:1px !important; margin-top:0px !important; height:31px !important;">
                <option>Equals</option>
                <option>Greater Than</option>
                <option>Less Than</option>
            </select>
        </div>
        <div class="ecmt_vg_div_buttons">
            <button class="btn btn-primary ecmt_vg_btn_filter" onclick="ecmt_vg_perform_filter_number(event);">Filter</button>
            <button class="btn btn-default ecmt_vg_btn_clear" onclick="ecmt_vg_clear_filter(event);">Clear</button>
        </div>
    </div>
</template>

<template fieldType="date">
    <div class="ecmt_vg_filter">
        <div class="ecmt_vg_div_filter_body">
            <table>
                <tr>
                    <td class="text-primary" style="font-size:18px; padding-left:10px;">From:</td>
                    <td style="min-width:15px;"></td>
                    <td style="min-width:15px; border-left:2px solid #999999;"></td>
                    <td class="text-primary" style="font-size:18px; padding-left:10px;">To:</td>
                </tr>
                <tr>
                    <td><input id="ecmt_vg_filter_datepicker_from" type="text" class="control datepicker" /></td>
                    <td></td>
                    <td style="border-left:2px solid #999999;"></td>
                    <td><input id="ecmt_vg_filter_datepicker_to" type="text" class="control datepicker" /></td>
                </tr>
            </table>
        </div>
        <div class="ecmt_vg_div_buttons">
            <button class="btn btn-primary ecmt_vg_btn_filter" onclick="ecmt_vg_perform_filter_date(event);">Filter</button>
            <button class="btn btn-default ecmt_vg_btn_clear" onclick="ecmt_vg_clear_filter(event);">Clear</button>
        </div>
    </div>
</template>

<template fieldType="string">
    <div class="ecmt_vg_filter">
        <div class="ecmt_vg_div_filter_body">
            <input type="text" class="control" style="width:100% !important" />
        </div>
        <div class="ecmt_vg_div_buttons">
            <button class="btn btn-primary ecmt_vg_btn_filter" onclick="ecmt_vg_perform_filter_string(event);">Filter</button>
            <button class="btn btn-default ecmt_vg_btn_clear" onclick="ecmt_vg_clear_filter(event);">Clear</button>
        </div>
    </div>
</template>

<template fieldType="check">
    <div class="ecmt_vg_filter">
        <div class="ecmt_vg_div_filter_body">
            <label>Show Only:&nbsp;&nbsp;</label>
            <select class="control" style="width:150px !important">
                <option>Checked</option>
                <option>Unchecked</option>
            </select>
        </div>
        <div class="ecmt_vg_div_buttons">
            <button class="btn btn-primary ecmt_vg_btn_filter" onclick="ecmt_vg_perform_filter_check(event);">Filter</button>
            <button class="btn btn-default ecmt_vg_btn_clear" onclick="ecmt_vg_clear_filter(event);">Clear</button>
        </div>
    </div>
</template>

<template fieldType="icons">
    <div class="ecmt_vg_filter">
        <div class="ecmt_vg_div_filter_body">
            <table>
                <tr>
                    <td id="tdSpecialIconsSection" style="width:220px; vertical-align:top;">
                        <label style="padding-left:20px;">Special Icons</label>
                        <div style="width:320px;">
                            <input id="ecmt_vg_iconsSelectAll" type='checkbox' style='display:inline; width:30px;' onclick="ecmt_vg_iconsToggleSelectAll(this);" /><i class='fa' style='color: #777777;  width:30px;'></i><b>Select All</b>
                        </div>
                        <div id="divSpecialIcons" style="width:320px; max-height:195px; overflow-y:auto;">
                        </div>
                    </td>
                    <td id="tdStandardIconsSection" style="vertical-align:top; display:none;">
                        <label style="padding-left:20px;">Stardard Icons Shapes</label>
                        <table style="width:100%;">
                            <tr>
                                <td><input filterItemID="1" type='checkbox' name='IC' value='fa-ban' style='display:inline; width:30px;' /><i class='fa fa-ban' style='color: #777777;  width:30px;'></i>Ban</td>
                                <td><input filterItemID="2" type='checkbox' name='IC' value='fa-bell-o' style='display:inline; width:30px;' /><i class='fa fa-bell-o' style='color: #777777;  width:30px;'></i>Bell</td>
                                <td><input filterItemID="3" type='checkbox' name='IC' value='fa-binoculars' style='display:inline; width:30px;' /><i class='fa fa-binoculars' style='color: #777777;  width:30px;'></i>Binoculars</td>
                            </tr>
                            <tr>
                                <td><input filterItemID="4" type='checkbox' name='IC' value='fa-bolt' style='display:inline; width:30px;' /><i class='fa fa-bolt' style='color: #777777;  width:30px;'></i>Bolt</td>
                                <td><input filterItemID="5" type='checkbox' name='IC' value='fa-bomb' style='display:inline; width:30px;' /><i class='fa fa-bomb' style='color: #777777;  width:30px;'></i>Bomb</td>
                                <td><input filterItemID="6" type='checkbox' name='IC' value='fa-bookmark-o' style='display:inline; width:30px;' /><i class='fa fa-bookmark-o' style='color: #777777;  width:30px;'></i>Bookmark</td>
                            </tr>
                            <tr>
                                <td><input filterItemID="7" type='checkbox' name='IC' value='fa-calendar' style='display:inline; width:30px;' /><i class='fa fa-calendar' style='color: #777777;  width:30px;'></i>Calendar</td>
                                <td><input filterItemID="8" type='checkbox' name='IC' value='fa-caret-square-o-right' style='display:inline; width:30px;' /><i class='fa fa-caret-square-o-right' style='color: #777777;  width:30px;'></i>RightArrow</td>
                                <td><input filterItemID="9" type='checkbox' name='IC' value='fa-check-circle-o' style='display:inline; width:30px;' /><i class='fa fa-check-circle-o' style='color: #777777;  width:30px;'></i>Check</td>
                            </tr>
                            <tr>
                                <td><input filterItemID="10" type='checkbox' name='IC' value='fa-clock-o' style='display:inline; width:30px;' /><i class='fa fa-clock-o' style='color: #777777;  width:30px;'></i>Clock</td>
                                <td><input filterItemID="11" type='checkbox' name='IC' value='fa-commenting-o' style='display:inline; width:30px;' /><i class='fa fa-commenting-o' style='color: #777777;  width:30px;'></i>Comment</td>
                                <td><input filterItemID="12" type='checkbox' name='IC' value='fa-envelope-o' style='display:inline; width:30px;' /><i class='fa fa-envelope-o' style='color: #777777;  width:30px;'></i>Envelope</td>
                            </tr>
                            <tr>
                                <td><input filterItemID="13" type='checkbox' name='IC' value='fa-exclamation-circle' style='display:inline; width:30px;' /><i class='fa fa-exclamation-circle' style='color: #777777;  width:30px;'></i>Exclamation Circle</td>
                                <td><input filterItemID="14" type='checkbox' name='IC' value='fa-exclamation-triangle' style='display:inline; width:30px;' /><i class='fa fa-exclamation-triangle' style='color: #777777;  width:30px;'></i>Exclamation Triangle</td>
                                <td><input filterItemID="15" type='checkbox' name='IC' value='fa-eye' style='display:inline; width:30px;' /><i class='fa fa-eye' style='color: #777777;  width:30px;'></i>Eye</td>
                            </tr>
                            <tr>
                                <td><input filterItemID="16" type='checkbox' name='IC' value='fa-frown-o' style='display:inline; width:30px;' /><i class='fa fa-frown-o' style='color: #777777;  width:30px;'></i>Frown</td>
                                <td><input filterItemID="17" type='checkbox' name='IC' value='fa-heart' style='display:inline; width:30px;' /><i class='fa fa-heart' style='color: #777777;  width:30px;'></i>Heart</td>
                                <td><input filterItemID="18" type='checkbox' name='IC' value='fa-info-circle' style='display:inline; width:30px;' /><i class='fa fa-info-circle' style='color: #777777;  width:30px;'></i>Info</td>
                            </tr>
                            <tr>
                                <td><input filterItemID="19" type='checkbox' name='IC' value='fa-hourglass' style='display:inline; width:30px;' /><i class='fa fa-hourglass' style='color: #777777;  width:30px;'></i>Hourglass</td>
                                <td><input filterItemID="20" type='checkbox' name='IC' value='fa-lightbulb-o' style='display:inline; width:30px;' /><i class='fa fa-lightbulb-o' style='color: #777777;  width:30px;'></i>Lightbulb</td>
                                <td><input filterItemID="21" type='checkbox' name='IC' value='fa-lock' style='display:inline; width:30px;' /><i class='fa fa-lock' style='color: #777777;  width:30px;'></i>Lock</td>
                            </tr>
                            <tr>
                                <td><input filterItemID="22" type='checkbox' name='IC' value='fa-minus-circle' style='display:inline; width:30px;' /><i class='fa fa-minus-circle' style='color: #777777;  width:30px;'></i>Minus Circle</td>
                                <td><input filterItemID="23" type='checkbox' name='IC' value='fa-plus-circle' style='display:inline; width:30px;' /><i class='fa fa-plus-circle' style='color: #777777;  width:30px;'></i>Plus Circle</td>
                                <td><input filterItemID="24" type='checkbox' name='IC' value='fa-question-circle' style='display:inline; width:30px;' /><i class='fa fa-question-circle' style='color: #777777;  width:30px;'></i>Question Circle</td>
                            </tr>
                            <tr>
                                <td><input filterItemID="25" type='checkbox' name='IC' value='fa-sticky-note-o' style='display:inline; width:30px;' /><i class='fa fa-sticky-note-o' style='color: #777777;  width:30px;'></i>Sticky Note</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="ecmt_vg_div_buttons">
            <button class="btn btn-primary ecmt_vg_btn_filter" onclick="ecmt_vg_perform_filter_icons(event);">Filter</button>
            <button class="btn btn-default ecmt_vg_btn_clear" onclick="ecmt_vg_clear_filter(event);">Clear</button>
            <button id="ecmt_vg_show_hide_more_icons" class="btn btn-default ecmt_vg_btn_clear" onclick="ecmt_vg_show_hide_more_icons_filter(event);">More...</button>
        </div>
    </div>
</template>


<script type="text/javascript">
    var ecmt_vg_current_filter = null;
    var ecmt_vg_filter_capture = null;
    var ecmt_vg_current_filter_column = null;
    var ecmt_vg_current_filter_return = null;
    var ecmt_vg_current_filter_clear = null;

    var filterIcons;
    var filterNumber;
    var filterString;
    var filterCheck;
    var filterDate;

    function ecmt_vg_filters_CacheFilters() {
        filterIcons = $('template[fieldType=icons]').html();
        filterNumber = $('template[fieldType=number]').html();
        filterString = $('template[fieldType=string]').html();
        filterCheck = $('template[fieldType=check]').html();
        filterDate = $('template[fieldType=date]').html();
        $('template[fieldType=icons]').remove();
        $('template[fieldType=number]').remove();
        $('template[fieldType=string]').remove();
        $('template[fieldType=check]').remove();
        $('template[fieldType=date]').remove();
    }

    function ecmt_cg_filters_ShowFilter(column, gridFilterFunction, gridClearFunction, x, y, currentFilters) {
        if (filterIcons == null) {
            ecmt_vg_filters_CacheFilters();
        }
        
        y = parseInt(y) + 28;
        x = parseInt(x);
        var positionTo = x > $(window).width() / 2 ? 'right' : 'left';
        if (positionTo == 'right') {
            x = $(window).width() - (x + 30);
        }
        try{
            if (ecmt_vg_current_filter != null) {
                ecmt_vg_current_filter.remove();
                ecmt_vg_current_filter = null;
                ecmt_vg_filter_capture.remove();
                ecmt_vg_filter_capture = null;
            }
            ecmt_vg_current_filter_column = column;
            ecmt_vg_current_filter_return = gridFilterFunction;
            ecmt_vg_current_filter_clear = gridClearFunction;


            //create clear div to catch mouse clicks outside of filter
            ecmt_vg_filter_capture = $('<div class="ecmt_vg_filter_capture"></div>');
            ecmt_vg_filter_capture.on('mousedown', ecmt_vg_filters_removeFilter);
            $('body').append(ecmt_vg_filter_capture);

            ecmt_vg_current_filter;
            //setup filter by type
            switch (column.type) {
                case 'string':
                    ecmt_vg_current_filter = $(filterString);
                    ecmt_vg_current_filter.css(positionTo, x).css('top', y);
                    ecmt_vg_setup_filter_string(ecmt_vg_current_filter, column, currentFilters);
                    break;
                case 'icons':
                    ecmt_vg_current_filter = $(filterIcons);
                    ecmt_vg_current_filter.css(positionTo, x).css('top', y);
                    ecmt_vg_setup_filter_icons(ecmt_vg_current_filter, column, currentFilters);
                    break;
                case 'number':
                    ecmt_vg_current_filter = $(filterNumber);
                    ecmt_vg_current_filter.css(positionTo, x).css('top', y);
                    ecmt_vg_setup_filter_number(ecmt_vg_current_filter, column, currentFilters);
                    break;
                case 'date':
                    ecmt_vg_current_filter = $(filterDate);
                    ecmt_vg_current_filter.css(positionTo, x).css('top', y);
                    ecmt_vg_setup_filter_date(ecmt_vg_current_filter, column, currentFilters);
                    break;
                case 'check':
                    ecmt_vg_current_filter = $(filterCheck);
                    ecmt_vg_current_filter.css(positionTo, x).css('top', y);
                    ecmt_vg_setup_filter_check(ecmt_vg_current_filter, column, currentFilters);
                    break;
            }
            $('body').append(ecmt_vg_current_filter);
            ecmt_vg_current_filter.slideDown();           
        }
        catch (ex) {
            ECMNotification('Error In Show Filter - ' + ex, 3);
        }
    }

    function ecmt_vg_filters_removeFilter(e) {
        e.stopPropagation();
        e.preventDefault();
        $('.grid-filter-changing').removeClass('grid-filter-changing');
        ecmt_vg_filter_capture.off('mousedown');
        ecmt_vg_current_filter.remove();
        ecmt_vg_current_filter = null;
        ecmt_vg_filter_capture.remove();
        ecmt_vg_filter_capture = null;
    }

    function ecmt_vg_clear_filter(e) {
        ecmt_vg_filters_removeFilter(e);
        ecmt_vg_current_filter_clear(ecmt_vg_current_filter_column);
    }

    
    

    

    //String Filter Functions
    {
        var ecmt_vg_filter_string;
        function ecmt_vg_setup_filter_string(filter, column, args) {
            ecmt_vg_filter_string = $(filter.find('input'));
            if(args.length>0){
                ecmt_vg_filter_string.val(args[0]);
            }
            ecmt_vg_filter_string.on('keyup', ecmt_vg_filter_string_key_pressed);
            ecmt_vg_filter_string.focus();
        }
        function ecmt_vg_filter_string_key_pressed(evt) {
            if (evt.keyCode == 13) {
                ecmt_vg_perform_filter_string(evt);
            }
        }
        function ecmt_vg_perform_filter_string(e) {
            ecmt_vg_filter_string.off('keyup', ecmt_vg_filter_string_key_pressed);
            if (ecmt_vg_filter_string.val() == "") {                
                ecmt_vg_clear_filter(e);
            }
            else {                
                var args = [ecmt_vg_filter_string.val()];
                ecmt_vg_filters_removeFilter(e);
                ecmt_vg_current_filter_return(ecmt_vg_current_filter_column, args);
            }
        }
    }



    //Date Filter Functions
    {
        var ecmt_vg_filter_datepicker_1;
        var ecmt_vg_filter_datepicker_2;
        function ecmt_vg_setup_filter_date(filter, column, args) {
            var datepickers = filter.find('.datepicker');
            ecmt_vg_filter_datepicker_1 = $(datepickers[0]).datepicker({ assumeNearbyYear: true });
            ecmt_vg_filter_datepicker_2 = $(datepickers[1]).datepicker({ assumeNearbyYear: true });
            if (args == null || args.length==0) {
                ecmt_vg_filter_datepicker_1.val(FormatStandardDate(new Date(), 'MM-dd-yyyy'));
                ecmt_vg_filter_datepicker_2.val(FormatStandardDate(new Date(), 'MM-dd-yyyy'));
            }
            else {
                ecmt_vg_filter_datepicker_1.val(args[0]);
                ecmt_vg_filter_datepicker_2.val(args[1]);
            }
            ecmt_vg_filter_datepicker_1.on('changeDate', function () { ecmt_vg_filter_datepicker_2.val(ecmt_vg_filter_datepicker_1.val()); });
        }
        function ecmt_vg_perform_filter_date(e) {           
            var dateFrom = ecmt_vg_filter_datepicker_1.val();
            var dateTo = ecmt_vg_filter_datepicker_2.val();
            
            if (!moment(dateFrom, 'MM/DD/YYYY').isValid() || !moment(dateTo, 'MM/DD/YYYY').isValid()) {
                ECMNotification("Invalid Date(s)", 1);
            }
            else {
                ecmt_vg_filter_datepicker_1.off('changeDate');
                ecmt_vg_filter_datepicker_1 = null;
                ecmt_vg_filter_datepicker_2 = null;

                var args = [ dateFrom, dateTo ];
                ecmt_vg_filters_removeFilter(e);
                ecmt_vg_current_filter_return(ecmt_vg_current_filter_column, args);
            }
        }
    }

    //Check (bool) Filter Functions
    {
        var ecmt_vg_filter_checked_select;
        function ecmt_vg_setup_filter_check(filter, column, args) {
            ecmt_vg_filter_checked_select = $($(filter).find('select'));
            if (args.length > 0) {
                ecmt_vg_filter_checked_select.val(args[0]);
            }
        }
        function ecmt_vg_perform_filter_check(e) {
            var args = [ecmt_vg_filter_checked_select.val()];
            ecmt_vg_filters_removeFilter(e);
            ecmt_vg_current_filter_return(ecmt_vg_current_filter_column, args);
        }
    }

    //Icons Filter Functions
    {
        function ecmt_vg_setup_filter_icons(filter, column, args) {
            var icons = LoadSetupIcons();
            if (icons.length == 0) {
                $(filter).find('#tdSpecialIconsSection').hide();
            }
            else {
                var specialIconsDiv = $(filter).find('#divSpecialIcons');
                $.each(icons, function (i, item) {
                    var filterItem = $("<span></span>");
                    var iteminput = $("<input type='checkbox' style='display:inline;' />");
                    iteminput.attr('filterItemID', item.Name);
                    iteminput.attr('name', column.field);
                    iteminput.attr('value', item.Name);
                    iteminput.css('width', 30);
                    iteminput.prop('checked', args.indexOf(item.Name) != -1)
                    filterItem.append(iteminput);
                    var icn = $(item.Html);
                    icn.css('width', 30);
                    filterItem.append(icn);
                    filterItem.append(item.Name);
                    specialIconsDiv.append(filterItem);
                    specialIconsDiv.append('<br />');
                });
            }
            for (var i = 0; i < args.length; i = i + 1) {
                if (args[i].length > 3 && args[i].substring(0, 3) == 'fa-') {
                    $(filter).find('input[filterItemID][value=' + args[i] + ']').prop('checked', true);
                }
            }
        }
        function ecmt_vg_perform_filter_icons(e) {            
            var selectedItems = ecmt_vg_current_filter.find('input[filterItemID]:checked');            
            if (selectedItems.length == 0) {                
                ecmt_vg_clear_filter(e);
            }
            else {                
                var args = [];
                for (var i = 0; i < selectedItems.length; i = i + 1) {
                    args[i] = $(selectedItems[i]).attr('value');
                }                
                ecmt_vg_filters_removeFilter(e);                
                ecmt_vg_current_filter_return(ecmt_vg_current_filter_column, args);                
            }
        }

        function ecmt_vg_iconsToggleSelectAll(selectAllCheckbox) {
            var isSelected = $(selectAllCheckbox).is(':checked');
            ecmt_vg_current_filter.find('input[filterItemID]').prop('checked', isSelected);
        }

        function ecmt_vg_show_hide_more_icons_filter(e) {
            e.stopPropagation();
            e.preventDefault();
            if ($('#ecmt_vg_show_hide_more_icons').text() == 'More...') {
                ecmt_vg_current_filter.find('#tdStandardIconsSection').show();
                ecmt_vg_current_filter.find('#ecmt_vg_show_hide_more_icons').text('Less...');
            }
            else {
                ecmt_vg_current_filter.find('#tdStandardIconsSection').hide();
                ecmt_vg_current_filter.find('#ecmt_vg_show_hide_more_icons').text('More...');
            }
        }
    }

    // Number Filter Functions
    {
        var ecmt_vg_filter_number_text;
        var ecmt_vg_filter_number_operator;
        function ecmt_vg_setup_filter_number(filter, column, args) {
            ecmt_vg_filter_number_text = $(filter).find('input');
            ecmt_vg_filter_number_operator = $(filter).find('select');
            if (args.length > 0) {
                ecmt_vg_filter_number_text.val(args[0]);
                ecmt_vg_filter_number_operator.val(args[1]);
            }
            ecmt_vg_filter_number_text.on('keyup', ecmt_vg_filter_number_key_pressed);
            ecmt_vg_filter_number_text.focus();
        }
        function ecmt_vg_filter_number_key_pressed(evt) {
            if (evt.keyCode == 13) {
                ecmt_vg_perform_filter_number(evt);
            }
        }
        function ecmt_vg_perform_filter_number(e) {
            if (ecmt_vg_filter_number_text.val() == '') {
                ecmt_vg_filter_number_text.off('keyup', ecmt_vg_filter_number_key_pressed);
                ecmt_vg_clear_filter(e);
            }
            else {
                var num = null;
                try {
                    num = Number(ecmt_vg_filter_number_text.val().replace('$',''));
                }
                catch (ex) {
                    num = null;
                }                
                if (isNaN(num) || num == null) {
                    ECMNotification("Invalid Number In Numeric Filter", 1);
                }
                else {
                    ecmt_vg_filter_number_text.off('keyup', ecmt_vg_filter_number_key_pressed);
                    var args = [ecmt_vg_filter_number_text.val(), ecmt_vg_filter_number_operator.val()];
                    ecmt_vg_filters_removeFilter(e);
                    ecmt_vg_current_filter_return(ecmt_vg_current_filter_column, args);
                }
            }
        }
    }

</script>