﻿html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}
div {
            
}
        
.wfSidebar-normal {
    position:absolute;
    left:0px;
    width: 300px;
    bottom:0px;
}
#wfNormalMenu {
    position:absolute;
    top:0px;
    left:0px;
    right: 0px;
    bottom:50px;
    padding-top:4px;
    overflow:hidden;
}
.wfSidebar-small {
    display:none;
    position:absolute;
    width:35px;
    bottom:0px;
    left:0px;
}
.wfSidebar-small:hover {
    cursor: pointer;
}
.wfSidebar-small-text {
    position:absolute;
    top:50%;
    margin-top:-75px;
    right:50%;
    margin-right:-75px;
    width:150px;
    text-align:center;    
    display:block;
    padding:0px;
    color:white;
    font-weight:bold;
    font-size:17px;
    padding-top:2px;

    -moz-transform: rotate(-90.0deg);
      /* Opera 10.5 */
      -o-transform: rotate(-90.0deg);
      /* Saf3.1+, Chrome */
      -webkit-transform: rotate(-90.0deg);
      /* IE6,IE7 */  
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
      /* Standard */
      transform: rotate(-90.0deg);

}

.btn-sidebar-small{
    width:30px;
    height:30px;
    color:white;
    border-radius:15px;
    margin-top:5px;
    margin-left:3px;
    padding-left:11px;
    padding-top:6px;
}

.btn-sidebar-small-black-rightside{
    width:30px;
    height:30px;
    color:black;
    border-radius:15px;
    margin-top:5px;
    margin-left:3px;
    padding-left:11px;
    padding-top:6px;
}

.btn-sidebar-small-black-leftside{
    width:30px;
    height:30px;
    color:black;
    border-radius:15px;
    margin-top:5px;
    margin-left:3px;
    padding-left:9px;
    padding-top:6px;
}

.sidebar-top-level
{
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:19px;
    padding:6px 15px 6px 15px;
    margin-bottom:0px;
    border-bottom-style: solid;
    border-bottom-width:2px;
    cursor:pointer;
}
.sidebar-secondary-level
{
    margin-left:2px;
    margin-right:2px;
    margin-top:0px;
    margin-bottom:0px;
    /*border-radius:3px;*/
    padding:2px 3px;
    overflow:hidden;
    /*overflow-x:hidden;
    overflow-y:auto;*/
}
        
.sidebar-secondary-level a
{
    display:inline-block;
    margin:3px 5px;
    width:100%;
}

.sidebar-secondary-level>div
{
    margin:3px 5px;
    width:100%;
}

.sidebar-secondary-level>div>div
{
    margin:3px 5px;
    width:100%;
}

.slimScroller {
    width:100%;
    height:100%;
}

.wfExtraButtons {
    position:absolute;
    left:0px;
    bottom:0px;
    right:0px;
    height:50px;           
}
        
.wfContent{
    position:absolute;
    left:305px;
    right:5px;
    bottom:5px;
    background-color:white;
    overflow:hidden;
}

#divIframe, #divGridArea{
    position:absolute;
    left:0px;
    right:0px;
    top:0px; 
    bottom:0px;
    overflow:hidden;
}
#wfIframe{
    width:100%; height:100%;
}


.menu-workflow {
    font-size:18px;
    width:100%;
    padding-left:5px;
    padding-right:5px;
    padding-top:10px;
}

.menu-workflow[queueshidden="true"] {
    cursor:s-resize;
}

.menu-workflow[queueshidden="false"] {
    cursor:n-resize;
}


.menu-workflow > i{
    margin-right:10px;
}
.menu-queue {    
    display:block;     
    width:100%;
    table-layout:fixed;
            
}
.menu-queue>tbody>tr>td {    
    padding-top:2px;
    padding-bottom:2px;
    border-top:1px solid #dddddd;
}

.menu-queue-container {
    width:100%;
    padding-left:10px;
    padding-right:8px;
    cursor:pointer;
}
.menu-queue-itemcounter{
    float:right;
    display:block;
    padding:2px 7px 0px 7px;
    border-radius:12px;
    margin-left:5px;
    margin-right:2px;            
}
        
.bottom-button{
    float:right;
    margin-top:5px;
    margin-right:5px;
    font-size:18px;
    padding-left:13px !important;
    padding-right:5px !important;
}

.grid-button{

}

.Grid {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}
.Grid>div>div>table>tbody>tr>td>i{
    margin-right:4px;
}

.ECMContextMenu{
    list-style-type:none;
    width:180px;
    background-color:white;
    border:1px solid gray;
    box-shadow: 7px 7px 5px #888888;
    margin:0px; 
    padding:0px;
}

.ECMContextMenu li{
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:15px;
    height:30px;
    width:100%;
    border-left:3px solid #438eb9;
    border-bottom:1px solid lightgray;
    font-size: 13px;
    /*margin-left: -35px;*/ 
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left:11px;
    color:#333;
    font-weight: 400;
}

.ECMContextMenu li:hover{
    border-left:5px solid #ACD373;
    margin-left:4px;
    padding-left:5px;
    cursor:pointer;
}


.ECMContextSubMenu {
    display:none;
    position:relative;
    left: 164px;
    top:-26px;
    list-style-type:none;
    width:180px;
    background-color:white;
    border:1px solid #438eb9;
    margin:0px; 
    padding:0px;
}
.ECMContextSubMenuItem:hover .ECMContextSubMenu{ display:block; }

.k-checkbox + label::before{
	
	position:absolute !important;
	top:0px !important;
	left:0px !important;
	border-width:1px !important;
	border-style:solid !important;
	width:14px !important;
	height:14px !important;
	font-size:14px !important;
	line-height:14px !important;
	text-align:center !important;
	padding-top:inherit !important;
}



.k-checkbox:focus + .k-checkbox-label::before{
	border-color:#76abd9 !important;
	box-shadow: 0px 0px 2px 0px #76abd9 !important;
}

:checked.k-checkbox + .k-checkbox-label::before{
	background-color:#fff !important;
	border-color:#ccc !important;
	color:#428bca !important;
}

.tooltip
{
}
.tooltip-inner
{
    z-index:99 !important;
    margin-left:40% !important;
    width:100% !important;
    padding:8px 14px;
    text-align:left;
}

#workItemsGrid tr[data-uid]>td
{
    white-space:nowrap !important;
}

.ecmlink {
    cursor:default;
}

#divIframe > div {
    position:absolute;
    top:0px; bottom:0px; left:0px; right:0px;
}

#divIframe > div  > iframe {
    width:100%;
    height:100%;
}