﻿/* ECMToolbox CSS Copyright(c) CASO */
html {
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: normal;
}

.control[type=text], .control[type=password], textarea.control, select.control {
    font-family: 'Segoe UI', 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    font-size: 15px;
    
    border-width: 1px;
    border-style: solid;
    padding: 6px 4px 7px 8px;
    outline: 0;
    box-sizing: border-box;
    text-shadow: none;
    border-radius:5px;
}


.dropdown-arrow {
    /* make arrow and background */
    background: linear-gradient(45deg, transparent 50%, #888888 50%), linear-gradient(135deg, #888888 50%, transparent 50%);
    background-position: calc(100% - 12px) calc(50% + 1px), calc(100% - 7px) calc(50% + 1px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    /* styling and reset */
    padding-right: 16px !important;
    background-color: white;
    /* reset */
    /*border-radius: 0;*/
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.control {
    /* make arrow and background */
    background: linear-gradient(45deg, transparent 50%, #888888 50%), linear-gradient(135deg, #888888 50%, transparent 50%);
    background-position: calc(100% - 12px) calc(50% + 1px), calc(100% - 7px) calc(50% + 1px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    /* styling and reset */
    padding-right: 16px !important;
    background-color: white;
    /* reset */
    /*border-radius: 0;*/
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* CAUTION: IE hackery ahead */
select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}
/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

.control-label {
    display: inline-block;
    padding-top: 9px;
    font-size: 15px;
    padding-right: 5px;
}

.btn {
    color: white;
    border: none;
    padding: 7px 13px 8px 11px;
    margin: 2px 0px;
    text-align: center;
    outline: 0;
    text-shadow: none;
    border-radius:5px;
    font-weight:600;
}

    .btn:hover {
        color: white;
    }

    .btn > i {
        margin-right: 7px;
    }

.center {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.listbox {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #D3D3D3;
    overflow-y: auto;
    border-radius: 3px;
    padding: 4px;
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    font-size: 15px;
}

    .listbox > div {
        width: 100%;
        color: #333;
        padding: 7px 12px;
        border-radius: 3px;
    }

.labelBar {
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    color: white;
    border: none;
    padding: 5px 9px;
}

.ecmlink {
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    width: 100%;
    padding: 2px 9px;
}

.nav-tabs {
    background-color: white;
}

    .nav-tabs li {
        border-radius: 0px;
        border-top: none !important;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #DDDDDD;
        outline: 0;
    }

        .nav-tabs li a {
            color: #666666;
            border-radius: 0px;
            border-top: none !important;
            border-left: none;
            border-right: none;
            outline: 0;
        }

        .nav-tabs li.active a {
            border-radius: 0px;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            outline: 0;
        }

.tab-content {
    background-color: white;
}

.breadcrumb {
    border-radius: 3px;
    border: 1px solid
}

.panel-heading {
    padding: 5px 20px;
    font-size: 21px;
}


input[type=checkbox] {
    display: none;
}
    /* to hide the checkbox itself */
    input[type=checkbox] + label:before {
        display: inline-block;
        padding-top: 8px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";
        font-size: 19px;
        font-weight: normal;
    }

    input[type=checkbox]:checked + label:before {
        content: "\f046";
        color: #549956;
        font-weight: normal;
    }
/* checked icon */


input[type=radio] {
    display: none;
}
    /* to hide the checkbox itself */
    input[type=radio] + label:before {
        display: inline-block;
        padding-top: 8px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f10c";
        font-size: 19px;
        font-weight: normal;
    }
    /* unchecked icon */

    input[type=radio]:checked + label:before {
        content: "\f192";
        color: #549956;
        font-weight: normal;
    }
/* checked icon */

.page-header {
    position: absolute;
    left: 300px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    height:60px;
    border-bottom:none;
    padding:10px 20px;
}

.page-header-logo {
    position:absolute;
    top:0px;
    left:0px; 
    right:0px;
    height:120px;
    background-repeat: no-repeat;
    width: 100%;
}

.page-header-logo a {
    width: auto;
}

.page-header-content {
    position: absolute;
    top: 14px;
    left:300px;
    font-family: Helvetica;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: white;
}

.page-header-right-content {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    white-space:nowrap;
    text-wrap:none;
}

.header-button {
    display: inline-block;
    padding:2px 15px !important;
    background-color:transparent;
    border:none;
    margin-right:15px;
}

.header-button:hover {
    color:#777777;
}

.welcome-message-text {
    display:inline-block;
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    font-size: 19px;
}

.ecmwindowmodal {
    opacity: .6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999 !important;
}

.ecmwindow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #bbbbbb;
    z-index: 1000 !important;
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    background-color: white;
    box-shadow: 5px 5px 5px #999999;
    border-radius: 7px;
}

    .ecmwindow > :first-child {
        padding: 5px 20px;
        font-size: 21px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .ecmwindow > :last-child {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 45px;
        background-color: #E6EAEF;
        overflow: hidden;
        text-align: right;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .ecmwindow > :nth-child(2) {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 42px;
        bottom: 52px;
        overflow-y: auto;
    }

    .ecmwindow > :last-child button {
        margin-top: 5px;
        margin-right: 5px;
    }

.notification-container {
    position: fixed;
    top: 20px;
    right: 400px;
    width: 320px;
    z-index: 9999;
}

.notification-item {
    width: 100%;
    padding: 10px;
    box-shadow: 5px 5px 5px #999999;
    border-radius: 5px;
    margin-bottom: 10px;
}

.error-window-modal {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    opacity: .6;
    z-index: 9997;
}

.error-window {
    /*font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;*/
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    color: #777777;
    position: fixed;
    width: 450px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: white;
    border: 1px solid #777777;
    border-radius: 7px;
    overflow: hidden;
    z-index: 9998;
    box-shadow: 5px 5px 5px #999999;
}

    .error-window > :nth-child(1) {
        font-size: 29px;
        color: #AD0000;
        padding: 8px 25px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 50px;
        background-color: #EEEEEE;
    }

    .error-window > :nth-child(2) {
        position: absolute;
        top: 60px;
        left: 5px;
        right: 5px;
        height: 150px;
        padding: 0px 5px;
        overflow-y: auto;
    }

    .error-window > :nth-child(3) {
        position: absolute;
        top: 220px;
        left: 0px;
        right: 0px;
        height: 50px;
        background-color: #EEEEEE;
        padding: 6px 10px;
    }

    .error-window > :nth-child(4) {
        position: absolute;
        top: 280px;
        left: 10px;
        right: 10px;
        height: 200px;
        padding: 10px;
        border: 1px solid #dddddd;
        overflow-y: auto;
    }

    .error-window > :nth-child(1) > i {
        margin-right: 12px;
    }

    .error-window > :nth-child(3) > button {
        width: 125px;
        user-select: none;
    }

    .error-window.open {
        height: 490px;
    }

    .error-window.closed {
        height: 270px;
    }

.spinnerModal {
    opacity: .6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999 !important;
}

.spinnerBox {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 200px;
    height: 150px;
    padding: 2px;
    border: 1px solid #777777;
    border-radius: 5px;
    background-color: #efefef;
}

    .spinnerBox > div {
        width: 100%;
        height: 100%;
        padding: 30px 10px 10px 10px;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
    }

        .spinnerBox > div > :first-child {
            color: #aaaaaa;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

        .spinnerBox > div > :last-child {
            color: #666666;
            font-size: 19px;
            width: 100%;
            text-align: center;
        }

.chosen-container-single > a {
    border: 1px solid #dddddd !important;
    border-radius: 3px !important;
    padding: 6px 4px 7px 8px !important;
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    font-size: 15px !important;
    outline: 0 !important;
    box-sizing: border-box !important;
    text-shadow: none !important;
    height: 35px !important;
}

    .chosen-container-single > a > div {
        padding-top: 5px !important;
    }

.k-grid {
    border: none !important;
    box-shadow: none !important;
    background-color: white !important;
}

.k-grid-toolbar {
    border-radius: 7px 7px 0 0 !important;
    background-color: white !important;
}

.k-grid-header {
    border: none !important;
}

.k-grid-header-wrap {
    /*border-width: 1px 1px 0px 1px;
    border-color: white;
    border-style: solid;
    border-radius: 5px 5px 0 0 !important;
    */
    border:none !important;
    background-color: white !important;
}

.k-select {
    background-color: #0769AD !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.k-state-active {
    background-color: #DDB744 !important;
}

.k-picker-wrap {
    border-width: 1px !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    background-color: white !important;
}

.k-timepicker, .k-datepicker, .k-datetimepicker {
    background-color: transparent !important;
}

.k-picker-wrap > input {
    border-radius: 5px !important;
    margin-bottom: 1px !important;
    background-color: transparent !important;
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
}

.k-grid-content {
    border-style: solid;
    border-width: 1px 1px 0 1px !important;
    border-color: #cccccc;
}

:first-child.k-grid-toolbar {
    border: none !important;
}

.k-grid-header-wrap > table > thead > tr > th {
    font-family: 'Segoe UI', 'helvetica neue',helvetica,arial,sans-serif !important;
    font-size: 19px;
}

.k-pager-wrap {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cccccc !important;
    border-radius: 0 0 7px 7px !important;
}

.k-grid-content td {
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-style: solid !important;
    border-right-style: solid !important;
    border-bottom-color: #cccccc !important;
    border-right-color: #cccccc !important;
    border-top: none !important;
    border-left: none !important;
}

.printFrame {
    position: absolute;
    bottom: -99999px;
}

.k-grid .k-grid-header th.k-header > .k-link {
    text-overflow: initial !important;
    overflow: hidden !important;
    text-overflow: clip !important;
    white-space: nowrap !important;
}

.k-grid .k-checkbox-label {
    padding: 0px !important;
}

.status-box {
    display: table;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 6px 12px;
}

.status-box-not-configured {
    background-color: #ffc9ce;
    color: #aa3a3a;
    border-color: #cc3a3a;
}

.status-box-configured {
    background-color: #d8f9d4;
    color: #63995D;
    border-color: #6da866;
}

