﻿
html, body{
    width:792px !important;
    height:612px !important;
    margin:10px;
    padding:0px;
    background-color:white;
}

table {
    table-layout: fixed;
}

td {
    word-wrap:break-word;
}

/*th { 
    padding: 10px;
    text-align: center;
    font-size: medium;
    border: 1px solid black;
}
td { 
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
}*/
