﻿html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
}

div {
    /*border:1px solid green;*/
}
               
#divWorkflowSettings {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    /*top: 1000px;*/
    bottom: 0px;
    min-width: 780px;
}

#divTabs {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
    /*top: 1040px;*/
}

#divContent {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 120px;
    /*top: 1120px;*/
    bottom: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x:hidden;
}

#divContentContainer {
    position: absolute;
    left: 0px;
    right: 0px;
        /*Remove To Left Align and allow table to Resize to a smaller width*/
    /*margin-top:0px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    padding: 0px;*/
    margin:0px;
    padding:0px;
}

#divBackButton {
    position: absolute;
    right: 10px;
    top: 1px;
}

#divTabs > ul > li > a {
    padding-top: 4px;
    padding-bottom: 3px;
}

#divTabs > ul > li > a > label {
    display: inline-block;
    padding-top: 7px;
    /*margin-top:10px; padding-top:10px;*/
}

#divTabs > ul > li > a > span {
    display: inline-block;
    font-size: 20px;
    /*margin-top:10px; padding-top:10px;*/
}

        

.table-header{
    font-size:18px;
    color:white;            
}
        
#divDesignerHeader{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 85px;
}
#tblWorkflowDesignHeader>:first-child>:nth-child(1), #tblWorkflowDesignHeader>tbody>:first-child>td{
    background-color:#eeeeee !important;
}
#tblWorkflowDesignHeader>:first-child>:nth-child(1), #tblWorkflowDesignHeader>tbody>:last-child>:nth-child(1){
    background-color:#888888 !important;
}
#tblWorkflowDesignHeader>:first-child>:nth-child(2), #tblWorkflowDesignHeader>tbody>:last-child>:nth-child(2){
    background-color:#999999 !important;
}
#tblWorkflowDesignHeader>:first-child>:nth-child(3), #tblWorkflowDesignHeader>tbody>:last-child>:nth-child(3){
    background-color:#aaaaaa !important;
}
#tblWorkflowDesignHeader>:first-child>:nth-child(4), #tblWorkflowDesignHeader>tbody>:last-child>:nth-child(4){
    background-color:#bbbbbb !important;
}

.designerTable, #tblWorkflowDesignHeader {
    width: 100%;
    /*max-width:1200px;*/
    z-index:50;
    /*background-color:#F7F7F7;*/            
}
.designerTable{
    background-color:#F7F7F7;
}
.designerTable > tr > td, #tblWorkflowDesignHeader > tr > td, .designerTable > tbody > tr > td, #tblWorkflowDesignHeader > tbody > tr > td {    
    /*border: 1px dashed green;*/
    width:25%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    vertical-align: central;
    background-color:transparent;
}


.divWFPathHeader {
    margin-top:8px;
    width:100%;
    /*max-width:1200px;*/            
    padding:4px 20px;
    /*border:1px solid #BBBBBB;*/
    background-color:#dddddd;
    color:#777777;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}
.roundBottom{
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
}
.tblWFPathHeader {
    width: 100%;
    font-size: 18px;
}
.tblWFPathHeader > tbody > tr > td > i {
    margin-left: 15px;
}
.tblWFPathHeader > div {
    position: relative;
    right: 20px;
    top: 3px;
}

.divQueue{            
    padding: 5px 25px 5px 50px !important;
    text-indent:-10px;
    border-radius:5px;
    min-height:25px;
    color:#FFFFFF;
    background-color:#2C587A;            
    font-size:18px;
    text-align:left !important;
    cursor:pointer;
}

.divStartQueue{
    background-color:#4AB568 !important;
    cursor:default !important;
}

.divStartEvent{
    cursor:default !important;
}

.divEvent{            
    text-align:left !important;
    padding: 3px 25px 3px 50px !important;
    text-indent:-11px;
    /*cursor:pointer;*/
}

.divEvent-NonButton{ 
                       
    border-radius:5px;
    background-color:#3A729E;            
    color:#FFFFFF;
    font-size:15px;
}

.divConditions{
    padding: 2px 5px 4px 8px !important;
    text-align:left !important;
    color:#FFFFFF;
    border-radius:5px;
    font-size:15px;
    background-color: #478CC1;
    min-height:28px;
}
.divConditions>div{
    float:right;
    width:5%;
    height:25px;
}
.divConditions>div>a{
    padding: 4px 0px 0px 0px !important;
    float:right;
    color:white;
    font-size:13px;
    font-weight:bold;
    cursor:pointer;
}

.divConditions>table>tbody>tr>:first-child{
    width:auto;
    text-align:left;
    padding-left:8px;
    padding-top:1px;
    padding-bottom:1px;
    color:#EAF4FF;
    margin-right:3px;
}
.divConditions>table>tbody>tr>:first-child:hover{
    background-color:#3A729E;
    cursor:pointer;
}
.divConditions>table>tbody>tr>:last-child{
    width:25px;
    vertical-align:top;
}
.divConditions>table>tbody>tr>:last-child>button{
    color:white;
    border:none;
    background-color:transparent !important;
    width:25px;
    height:20px;
    padding:0px !important;
    font-size:15px;
}
.divConditions>label{
    float:left;
    color:white;
    font-size:12px;
    width:40%;
    padding-left:8px;
    text-align:left;
    font-weight:normal;
    padding-top:4px;
    padding-left:7px;
}

.divActions{
    min-height:28px;
    padding: 2px 5px 4px 3px !important;
    color:#FFFFFF;
    border-radius:5px;
    font-size:15px;
    background-color:#54A6E5;
}
.divActions>div{
    float:right;
    width:7%;
    height:25px;            
}
.divActions>div>a{
    font-weight:bold;
    color:white;            
    padding: 4px 0px 0px 0px !important;
    float:right;
    font-size:13px;
    cursor:pointer;
}

.divActions>table>tbody>tr>:first-child{
    text-align:left;
    width:auto;
    padding-left:8px;
    padding-top:1px;
    padding-bottom:1px;
    color:#EAF4FF;            
}
.divActions>table>tbody>tr>:first-child:hover{
    background-color:#478CC1;
    cursor:pointer;
}
.divActions>table>tbody>tr>:last-child{
    vertical-align:top;
    width:25px;
}
.divActions>table>tbody>tr>:last-child>button{
    color:white;            
    border:none;
    background-color:transparent !important;
    width:25px;
    height:20px;
    padding:0px !important;
    font-size:15px;
}
.divActions>label{
    float:left;
    color:white;
    font-size:12px;
    width:40%;
    padding-left:8px;
    text-align:left;
    font-weight:normal;
    padding-top:4px;
    padding-left:7px;
}

        

.divRule{            
    padding: 3px 25px 3px 50px !important;
    text-indent:-11px;
    text-align:left !important;
    color:#FFFFFF;
    border-radius:5px;
    font-size:15px;
    background-color: #478CC1;
    /*cursor:pointer;*/
}

.divSendTo{            
    padding: 3px 25px 3px 50px !important;
    text-indent:-11px;
    color:#FFFFFF;
    border-radius:5px;
    font-size:15px;
    background-color:#54A6E5;
    /*cursor:pointer;*/
}

.divAction{
    border:1px solid darkred;
    border-radius:5px;
}

        

/*.divAddQueueButton{
    color:green;
}
.divAddEventButton{
    color:#71AD61;
}
.divAddRuleButton{
    color:blue;
}*/
        

.divAddQueueButton{
    width:150px;           
    font-size:18px;
    color:#999999;
    border:1px solid #999999;
    border-radius:5px;
    background-color:white;
}
.divAddQueueButton>i{
    margin-right:7px;
}
.divAddQueueButton>button{
    border:none;
    background-color:transparent;            
}

.divAddEventButton, .divAddRuleButton{
    position:absolute;            
    width:22px;
    height:22px;
    border-radius:11px;            
    padding:3px;
    cursor:pointer;
    z-index:55;
}
.divAddEventButton:hover, .divAddRuleButton:hover{            
    background-color:#3F89C4 !important;
}

.divAddEventButton > i, .divAddRuleButton > i {
    position:absolute;
    top:3px;
    left:3px;
    width:16px;
    height:16px;
    color:white;
    padding-top:2px;
    padding-left:3px;
    /*background-color:white;*/
    border-radius:9px;
}

.divRemoveRuleButton{
    position:absolute;            
    width:14px;
    height:14px;
    border-radius:7px;            
    padding:0px;
    cursor:pointer;
    z-index:5;
}
.divRemoveRuleButton:hover{            
    background-color:#3F89C4 !important;
}

.divRemoveRuleButton > i {
    position:absolute;
    top:0px;
    left:0px;
    width:9px;
    height:9px;
    color:white;
    padding-top:0px;
    padding-left:2px;
    /*background-color:white;*/
    border-radius:9px;
    font-size:13px;
}


.glyphicons{
    margin-top:-3px;
}

.colorSample{
    display:inline-block;
    border:1px solid #aaaaaa;
    width:45px;
    height:35px;
}

.k-colorpicker>span{
    height:28px;
    width:30px;
    border-radius:3px;
}        
.k-colorpicker>span>:first-child>span{
    height:20px !important;
    width:20px !important;
    margin-bottom:2px;
    border:1px solid #aaaaaa;
}
.k-colorpicker>span>:last-child{
    border:none !important;
}
.k-colorpicker>span>:last-child>span{
    height:18px !important;
    width:20px !important;
    margin-bottom:8px;           
}

.k-timepicker{
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 13px;    
    border-radius:3px;
    border-width:1px;
    border-style: solid;
    outline: 0;
    box-sizing: border-box;
    text-shadow: none;
    background-color:white !important;
    margin-left:0px !important;
}
.k-timepicker>span{
    background-color:white !important;
}
.k-timepicker>span>input{
    padding:6px 4px 7px 8px !important;
    background-color:white !important;
}
.k-timepicker>span>span{
    background-color:white !important;
}

#divQueueFieldsScroller{
    padding-left:0px !important;
    padding-right:0px !important;
}

        
#tblQueueFieldsHeader > tbody > tr > td {
    font-weight: bold;
}
#tblQueueFieldsHeader > tbody > tr > :nth-child(1) {
    padding:3px 15px;
    text-align: left;
}
#tblQueueFieldsHeader > tbody > tr > :nth-child(2) {
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}
#tblQueueFieldsHeader > tbody > tr > :nth-child(3) {
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}
#tblQueueFieldsHeader > tbody > tr > :nth-child(4) {
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}
#tblQueueFieldsHeader > tbody > tr > :nth-child(5) {
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}
                
#tblQueueFields > tbody > tr > :nth-child(1) {
    padding:0px 15px;
    text-align: left;
}
#tblQueueFields > tbody > tr > :nth-child(2) {
    padding-top:0px;
    padding-bottom:0px;
    text-align: center;
}
#tblQueueFields > tbody > tr > :nth-child(3) {
    padding-top:0px;
    padding-bottom:0px;
    text-align: center;
}
#tblQueueFields > tbody > tr > :nth-child(4) {
    padding-top:0px;
    padding-bottom:0px;
    text-align: center;
}
#tblQueueFields > tbody > tr > :nth-child(5) {
    padding-top:0px;
    padding-bottom:0px;
    text-align: center;
}
#tblQueueFields > tbody > tr > :nth-child(6) {
    padding-top:0px;
    padding-bottom:0px;
    text-align: center;
}
        
.markerLine{
    position:absolute;
    border:2px solid #FFA144;
    height:4px;
    border-radius:2px;
}

.mapline-straight{
    position:absolute;
    border-top:4px solid #bbbbbb;
    z-index:4;
}
.mapline-topleft{
    position:absolute;
    border-top:4px solid #bbbbbb;
    border-left:4px solid #bbbbbb;
    border-top-left-radius:12px;
    z-index:4;
}
.mapline-topright{
    position:absolute;
    border-top:4px solid #bbbbbb;
    border-right:4px solid #bbbbbb;
    border-top-right-radius:12px;
    z-index:4;
}
.mapline-bottomleft{
    position:absolute;
    border-bottom:4px solid #bbbbbb;
    border-left:4px solid #bbbbbb;
    border-bottom-left-radius:12px;
    z-index:4;
}
.mapline-bottomright{
    position:absolute;
    border-bottom:4px solid #bbbbbb;
    border-right:4px solid #bbbbbb;
    border-bottom-right-radius:12px;
}

.section-spacer{
    width:100%;            
    border-bottom:2px solid #cccccc;
    margin-top:8px;
    margin-bottom:8px;
}

.section-header{
    font-size:19px;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #7196C4;
    padding-bottom:0px !important;
    margin-bottom:0px !important;
}
.modal
{
    overflow: hidden;
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}

#tblStartValueHeaders > thead > tr > td {
    padding: 3px 2px 3px 2px;
    background-color: #cccccc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
#tblStartValueHeaders > thead > tr > :first-child {
    border-right:4px solid white; 
}
#tblStartValueHeaders > thead > tr > :last-child {
    background-color: white !important;
}

.fs10 
{
    font-size: 8px !important;
}
.pl0 {
    padding-left: 0px !important;
}
.pr0 {
    padding-left: 0px !important;
}
.pr5 {
    padding-right: 4px !important;
}
.vam {
    vertical-align: middle !important;
}
.chand {
    cursor: pointer;
}
.bglightblue {
    background-color: lightblue !important;
}
.tdpadding {
    padding: 1px 4px 1px 4px !important;
}
.thpadding {
    padding: 8px 8px 8px 0px !important;
}
.glyphmarginleft {
    margin-left: -8px !important;
}
.glyphmarginright {
    margin-right: -8px !important;
}

.divActions table, .divConditions table{
    table-layout:fixed;
    width:90% !important;
    word-break:normal;
}

.divEvent, .divQueue{
    -ms-word-break: break-all;
     word-break: break-all;
}

.eventContextMenu{    
    position: absolute;
    display:none;
}

.eventContextMenu a {    
    border-left:4px solid #ffffff;
}

.eventContextMenu a:hover {    
    border-left:4px solid #54A6E5;
}

.k-i-clock{
    color:#999999 !important;
}

.queueContainer{
    position:relative;
}